html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 56px;
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, div, footer {
    padding: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

.footer_wrapper {
    margin-top: auto;
    text-align: center;
    font-size: small;
    color: gray;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

footer {
    margin-top: auto;
    text-align: center;
}